
.container {
  width: 1390px;
}

#graphic {
  padding-top: 60px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 750px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
  
  right:20px;
}

.step {
  margin-bottom: 200px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

#sections .title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

#vis .title {
  font-size:120px;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:80px;
  text-anchor: middle;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}

#pca1 {
    height: auto; 
    width: auto; 
    max-width: 80%; 
    max-height: auto;
}

#pca2 {
	top:400px;
    height: auto; 
    width: auto; 
    max-width: 80%; 
    max-height: auto;
}

#rfecv {
	left: 25px;
	top: 50px;
    height: auto; 
    width: auto; 
    max-width: 90%; 
    max-height: auto;
}

#time_series {
    height: auto; 
    width: auto; 
    max-width: 115%; 
    max-height: auto;
}

#data_overview {
	left: 25px;
    height: auto; 
    width: auto; 
    max-width: 115%; 
    max-height: auto;
}

#imputation{
	left: 75px;
}

#trend {
    height: auto; 
    width: auto; 
    max-width: 115%; 
    max-height: auto;
}

#seasonality1 {
	left: 25px;
    height: auto; 
    width: auto; 
    max-width: 115%; 
    max-height: auto;
}

#seasonality2 {
	left: 25px;
	top: 350px;
    height: auto; 
    width: auto; 
    max-width: 115%; 
    max-height: auto;
}

#models_pairplot {
	
    height: auto; 
    width: auto; 
    max-width: 115%; 
    max-height: auto;
}

.models {
	top: 100px;
}
#models3 {
    height: auto; 
    width: auto; 
    max-width: 115%; 
    max-height: auto;
}
img {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}​

img.fadein {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}​

